body{
    background-color:grey;
            color:rgb(0, 0, 0);
}
table {
   
    border: 3px solid white;
    }
td {
    width: 150px;
    height: 50px;
    border: 4px solid rgb(255, 255, 255);
    }   
th{
   border:2px solid rgb(255, 255, 255);
    text-align:center;
}
p{
    text-align:center;
    color: rgb(153, 0, 0);
}
blink {
    
  -webkit-animation: 0.5s linear infinite condemned_blink_effect; 
  animation: 0.5s linear infinite condemned_blink_effect;
}


@-webkit-keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #b6b6b6;
  color: rgb(0, 0, 0);
  text-align: left;
}